<!DOCTYPE html>
<html>
<head>
  <title>Quoter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <div class="col-xs-1 col-md-3 pull-left">
      <%= link_to root_path, class: 'logo' do %>
      <%= image_tag 'speech.jpg', class: 'img-fluid' %>
    <% end %>  
    </div>
    <div class="col-xs-7 col-sm-6 col-md-6 hidden-xs slogan hidden-sm slogan hidden-md slogan">
     Your pick me up quote de jour
    </div>
    <div class= "links col-xs-5 col-xc-offset-1 col-sm-offset-0 col-sm-5 col-md-3 pull-right">
      <!-- Button trigger modal -->
      <%= link_to 'Contribute','#', data: {toggle: 'modal', target: '#myModal'} %>
      &nbsp;&nbsp; &nbsp;
       <%= link_to 'About', about_path %>
    </div>
  </header>
  <hr />

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Contribute Your Quotes</h4>
        </div>
        <div class="modal-body">
          <h1> Enter Your Quote Details</h1>
          <%= simple_form_for Quote.new do |f| %>
           <div class="modal-body">
            <%= f.input :saying, label: "What is the saying you want to add?", placeholder: "Fear is the desease. Hustle is the antidote." %>
            <br/>
            <%= f.input :author, label: "Who is the author of the quote?", placeholder: 'Travis Kalanick'%>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <%= f.submit :'Create', class: 'btn btn-primary' %>
         <% end %>  
        </div>
      </div>
    </div>


  <br class="clear" />
  </div>
<div class="container">
 <% if flash[:error].present? %>
      <div class="col-xs-10 col-xs-offset-1 alert alert-danger">
        <%= flash[:error].html_safe %>
      </div>
      <br class="clear">
    <% end %>
  <%= yield %>
</div>
</div>



 
  <div class="footer">
    <div class="container">
      <div class="col-xs-12 col-xs-6">
       <%= link_to  "This isn't enough, I need more",root_path, class: 'next-quote'%>
      </div>
      <div class= " col-xs-12 col-xs-6 footer-blurb">
        Made by Mike! <a href= "http://mikevieira.getforge.io/">mikevieira</a>
      <div>
      <p class="text-muted"> For more Mike click here. </p>
      </div>
 

</body>
</html>
